---
import { sitePath } from "../lib/site-path";

interface Props {
  backHref?: string;
  backLabel?: string;
  meta?: string;
}

const { backHref = "/", backLabel = "全部领域", meta = "Personal Knowledge Index" } = Astro.props;
---

<header class="site-header">
  <a class="site-header__back" href={sitePath(backHref)}>{backLabel}</a>
  <a class="site-header__brand" href={sitePath("/")}>论文索引 <em>Paper Index</em></a>
  <span class="site-header__meta">{meta}</span>
</header>
